.container-fluid {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 5em;
}

a {
    color: #000000;
}

.header, .content {
  padding: 3em 4em 4em;
}

.logo {
  padding: 0;
}
.logo img {
  padding: 0;
  width: 100%;
  max-width: 140px;
  //min-width: 60px;
}

.menu {
  padding: 0;
  text-align: right;
  margin-top: 1em;
}
.menu a {
  color: #000000;
  margin-left: 1em;
}
.menu a.active {
  text-decoration: underline;
}

.project {
  text-align: left;
  padding: 4em;
}
.project a img {
  width: 100%;
}
.project p {
  visibility: hidden;
  text-align: left;
}
.project a:hover + p {
  visibility: visible;
}

.carousel .item img {
  max-height: 500px;
  margin: auto;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  color: #000000;
}
.carousel .item p {
  text-align: center;
  margin-top: 1em;
}

address.col-sm-6 {
  padding: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .menu {
    margin: 0;
  }
}
