@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic);

body {
    font-family: "Fanwood Text", "Times New Roman", serif;
}

.header {
    margin-bottom: 0;
}

.intro {
    padding: 120px 0 100px 0;
    margin-bottom: 0;
    font: 400 18px/28px "merriweather";
}

.marketing {
    margin-top: 50px;
}

.project-thumb {
    cursor: pointer;
    color: #222222;
}

.project-thumb:hover {
    text-decoration: none;
}

.project-thumb h2 {
    -webkit-transition: color .15s;
}

.project-thumb:hover h2 {
    color: #c3322f;
}

.project-thumb h2 {
    color: #222;
    font: 900 14px/22px "merriweather";
    margin: 0;
}

.project-thumb p {
    margin-bottom: 1.5em;
    font: 400 14px/22px "merriweather";
    color: #222222;
}

.header {
    border: none;
}

.header h1 {
    padding-bottom: 0;
    margin-top: 100px;
}

.header h1 a {
    font: 900 42px/44px "merriweather";
    text-decoration: none;
    color: #222;
}

.current-project {
    padding-top: 50px;
}

.current-project h2 {
    color: #222;
    font: 900 42px/44px "merriweather";
    letter-spacing: -1px;
    margin: 0;
}

.current-project .content {
    padding-top: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
}

.current-project p {
    color: #333;
    font: 400 14px/22px "merriweather";
}

.current-project img {
    width: 100%;
    margin: 2em 0;
}

.footer {
    text-align: center;
    border: none;
    font: 400 12px/22px "merriweather";
    color: #222222;
}

hr {
    background: #333;
    border: 0;
    height: 3px;
    margin: 19px 0 22px 0;
    width: 100px;
}


.carousel .item img {
  height: 500px;
  margin: auto;
}
.carousel-control.left, .carousel-control.right {
  background: none;
}
