/*
* Global styles
*/
body {
  font-family: 'Neue Haas Unica Pro', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*
* Splash screen with logo centered.
*/

.splash {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.splash a {
  display: block;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}

.splash a:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.splash img {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
}

/*
* Header
*/

.header {
  padding: 1em;
}

.header .logo, .header .menu {
  padding: 0;
  margin: 0 auto 1em;
  text-align: center;
}

.header .logo {

}
.header .logo a {
  padding: 0;
}
.header .logo a img {
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.header .menu a {
  color: #000000;
  padding: 0 1em;
}

.header .menu a:active, .header .menu a.active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 4em;
  }

  .header .logo {
    text-align: left;
  }

  .header .logo img {
    height: 3em;
  }

  .header .menu {
    text-align: right;
    height: 3em;
  }

  .header .menu a {
    padding: 0 0 0 1em;
  }

  .header .menu a:before, .header .menu span:before, .header .logo a {    /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: bottom;;  /* vertical alignment of the inline element */
      height: 100%;
  }
}

/*
* Text content
*/
.content {
  padding: 1em;
  margin-bottom: 4em;
}
address {
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 4em;
  }
}

/*
* Project overview
*/
.projects {
  margin: auto;
  margin-bottom: 4em;
  max-width: 100vw;
  max-height: 100vh;
}

.projects .carousel-control {
  background: none;
  color: #000000;
  width: 20vw;
}

.project .item {
  margin: auto;
}

.projects .item a img {
  margin: auto;
  max-height: 60vh;
}

.projects .item p {
  padding: 1em 0;
  text-align: center;
}
.projects .item p a {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .projects {
    margin: 0;
    max-width: 100vw;
    margin: -15px;
  }

  .projects .project {
    text-align: left;
    padding: 0 4em;
  }

  .projects .project a img {
    width: 100%;
  }

  .projects .project p {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }

  .projects .project a:hover + p {
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

/*
* Project view
*/

.project-carousel {
  margin-bottom: 4em;
}

/* items */
.project-carousel .item {
  margin: auto;
  text-align: center;
}

.project-carousel img {
  max-width: 80vw;
  max-height: 80vh;
}

.project-carousel .description p {
  text-align: left;
  max-width: 50vw;
  margin: auto;
  margin-bottom: 1em;
}

/* controls */
.project-carousel .carousel-control {
  background: none;
  color: #000000;
  width: 40vw;
}
.project-carousel .carousel-control .icon-prev {
  left: 20%;
}
.project-carousel .carousel-control .icon-next {
  right: 20%;
}

@media screen and (min-width: 768px) {
  .project-carousel img {
    max-width: 80vw;
    max-height: 70vh;
  }

  .project-carousel .description {
    text-align: left;
    max-width: 50vw;
    margin: auto;
  }
}
