<!-- website header -->
<div class="header row">
  <!-- logo -->
  <div class="col-sm-4 logo">
    <a href="/NEJD-online-2.6/projects"><img src="img/NEJD-logo.png" alt="NEJD"></a>
  </div>

  <!-- menu -->
  <p class="col-sm-8 menu" ng-if="!currentProject.title">
    <a href="/NEJD-online-2.6/projects">Projecten</a>
    <a href="/NEJD-online-2.6/info">Informatie</a>
    <a href="/NEJD-online-2.6/contact">Contact</a>
  </p>

  <!-- current project tag -->
  <p class="col-sm-8 menu" ng-if="currentProject.title">
    <span ng-bind-html="currentProject.description"></span>
  </p>
</div>
