<div ng-include="'js/app/views/include-header.html'"></div>

<div class="content row">
  <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <p><abbr title="Niels Evenepoel Jonathan Dequeker">NEJD</abbr> is het ontwerpsatelier met Niels Evenepoel en Jonathan Dequeker, ontstaan na een gezamelijke opdracht tijdens de studies Interieurarchitectuur aan het Sint-Lucas in Gent.</p>
    <p>We hebben ervaring met het inrichten van buitenruimtes, leefruimtes, maatmeubelen, een koffiehuis, van Poperinge tot in Haarlem.</p>
    <p>NEJD ontwerpt sterk doordachte omgevingen door het formuleren van een logica vanuit uitdagende contexten. Er wordt daarbij gewerkt met formele architeturale kwaliteiten als vorm, textuur, kleur en massa. De ontwerpen zetten zich vaak voort in een grondig en kritisch uitvoeringsproces.</p>
    <p>Aarzel niet om jouw uitdagingen <a href="/NEJD-online-2.6/contact">met ons te delen.</a></p>
    <p class="credit">Huisstijl ontworpen door <a href="http://baukevanderlaan.eu" target="_blank" title="Bauke van der Laan">Bauke van der Laan</a> & <a href="http://theovanbeurden.be" target="_blank" title="Theo van Beurden">Theo van Beurden</a>. Website is tot stand gekomen door de expertise van <a href="http://newfront.eu" target="_blank" title="Niels Dequeker">Niels Dequeker</a></p>
    <!-- <p><abbr>NEJD</abbr> is een partnerschap gevormd door Niels Evenepoel en Jonathan Dequeker.</p>
    <p>Beiden afkomstig van de landelijke stad Poperinge, hebben elkaar pas ontmoet in de hogeschool van Sint-Lucas te Gent.<br>
      We zijn het gewoon geraakt om met twee te zijn.<br>
      Vanuit tezamen uitgevoerde schoolopdrachten is Nejd uitgegroeid tot een ontwerpbureau die residentiële, commerciele en meubel ontwerpen aangaat.</p> -->
  </div>
</div>
