<div ng-include="'js/app/views/include-header.html'"></div>

<div class="row content">
  <div class="col-sm-4 col-sm-offset-4">
    <p>Morbi eget justo lacinia augue porta efficitur. Morbi ornare, risus ut tristique scelerisque, ante ex iaculis mi, eget iaculis massa turpis suscipit magna. Curabitur tincidunt sagittis mi quis auctor. Donec bibendum aliquam ante nec sollicitudin. Praesent vulputate vitae risus quis vehicula. Pellentesque hendrerit mi eget justo dignissim blandit. Donec ipsum odio, pretium ut suscipit id, euismod nec mauris. Proin ultricies purus eget tortor laoreet accumsan.</p>
    <p>Aliquam erat volutpat. Phasellus vehicula venenatis nisi, nec vehicula tortor suscipit sed. Mauris porta dignissim euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum posuere eget risus eu euismod. Proin vitae ante viverra, ullamcorper purus ac, varius massa. Duis posuere, augue a maximus imperdiet, ante risus hendrerit augue, eget cursus ex nunc id dolor. Etiam varius nisi erat, eu tristique nibh fringilla non.</p>
  </div>
</div>
