<div ng-include="'js/app/views/include-header.html'"></div>

<div class="content row">
  <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <p><abbr>NEJD</abbr> is een partnerschap gevormd door Niels Evenepoel en Jonathan Dequeker.</p>
    <p>Beiden afkomstig van de landelijke stad Poperinge, hebben elkaar pas ontmoet in de hogeschool van Sint-Lucas te Gent.<br>
      We zijn het gewoon geraakt om met twee te zijn.<br>
      Vanuit tezamen uitgevoerde schoolopdrachten is Nejd uitgegroeid tot een ontwerpbureau die residentiële, commerciele en meubel ontwerpen aangaat.</p>
  </div>
</div>
