<div ng-include="'js/app/views/include-header.html'"></div>

<div class="row projects">
  <!-- expanded view for larger screens -->
  <div class="col-sm-3 project hidden-xs" ng-repeat="(projectId, project) in projects | orderObjectBy:'-order'">
    <a href="/NEJD-online-2.6/projects/{{project.name}}">
      <img ng-src="img/{{project.name}}/res600/{{project.thumb}}">
    </a>
    <p ng-bind-html="project.title"></p>
  </div>

  <!-- carousel view for smaller screens -->
  <div id="carousel-project" class="carousel slide visible-xs col-xs-12" data-ride="carousel" data-interval="0" data-keyboard="true">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-repeat="(projectId, project) in projects | orderObjectBy:'-order'" ng-class="{'active': $index == 0}">
        <a href="/NEJD-online-2.6/projects/{{project.name}}">
          <img ng-src="img/{{project.name}}/res600/{{project.thumb}}">
        </a>
        <p><a ng-bind-html="project.title" href="/NEJD-online-2.6/projects/{{project.name}}"></a></p>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-project" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-project" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
