<div ng-include="'js/app/views/include-header.html'"></div>

<div id="carousel-project" class="carousel slide project-carousel" data-ride="carousel" data-interval="0" data-keyboard="true">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item" ng-repeat="item in currentProject.pictures" ng-class="{'active': $index == 0}">
      <!-- <img ng-src="{{item.src}}"> -->
      <picture>
        <source media="(min-width: 2400px)" ng-srcset="{{item.srcOriginal}}">
        <source media="(min-width: 1600px)" ng-srcset="{{item.srcBig}}">
        <source media="(min-width: 1000px)" ng-srcset="{{item.srcMedium}}">
        <img ng-src="{{item.srcSmall}}">
      </picture>
      <div ng-bind-html="item.description" class="description"></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-project" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-project" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
